<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link th:href="@{/resources/css/style.css}" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title th:text="#{sistema.titulo}"></title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" th:href="@{/}">SoftList</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" th:href="@{/produtos}" th:text="#{menu.produtos}"></a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/produtos/add}" th:text="Cadastrar"></a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                               role="button" aria-haspopup="true" aria-expanded="false">
                                Opções 
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="http://www.algaworks.com" target="_blank">Site</a></li>
                                <li><a href="http://www.facebook.com/algaworks" target="_blank">Facebook</a></li>
                                <li><a href="http://www.youtube.com/algaworks" target="_blank">YouTube</a></li>
                                <li><a href="http://github.com/algaworks" target="_blank">Github</a></li>
                                <li><a href="http://blog.algaworks.com/" target="_blank">Nosso Blog</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="container">
            <h3 class="page-header" th:text="'Produtos'"/></h3>

        <form method="POST" th:action="@{/produtos/save}" th:object="${produto}" >
            <div class="panel panel-default">
                <div class="panel-heading" th:text="'Cadastro de produtos'"></div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="control-label" for="codigo"th:text="#{produto-lista.form.codigo}"/>
                                <input class="form-control" id="codigo" th:field="*{id}" readonly="true" value="" />
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="nome"th:text="#{produto-lista.form.nome}"/>
                                <input class="form-control" id="nome" th:field="*{nome}" placeholder="Informe o nome" required="true"/>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label" for="nome"th:text="'Preço R$'"/>
                                <input class="form-control" id="preco" name="preco" th:field="*{preco}" 
                                       placeholder="Informe o preço" required="true" />
                            </div>
                        </div>
                    </div>

                    <div class="btn navbar-right">
                        <button class="btn btn-primary" type="submit">
                            <span class="fa fa-save"></span>
                            Salvar
                        </button>
                        <a th:href="@{/produtos}" class="btn btn-default" type="submit">
                            Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </form>			
    </section>
    <script th:src="@{/resources/javascript/maskMoney.js}" type="text/javascript"></script>
</body>
</html>